<mat-toolbar color="primary">
  <button mat-icon-button aria-label="menu-icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>DevCourses Shop</span>
  <span class="toolbar__spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Home</a>
    </li>
    <li>
      <a mat-button routerLink="/courses" routerLinkActive="active-link">Courses</a>
    </li>
    <li>
      <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <app-login-button></app-login-button>
    </li>
    <li *ngIf="isLoggedIn">
      <button mat-flat-button [matMenuTriggerFor]="menu" color="accent">
        <mat-icon>account_circle</mat-icon>
        <span>{{ currentUser?.name }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Orders</button>
        <button mat-menu-item>Admin</button>
        <div mat-menu-item>
          <app-logout-button></app-logout-button>
        </div>
      </mat-menu>
    </li>
    <li>
      <a mat-flat-button>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </a>
    </li>
  </ul>
</mat-toolbar>
