<mat-toolbar color="primary">
  <button mat-icon-button aria-label="menu-icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>DevCourses Shop</span>
  <ul>
    <li>
      <a mat-button routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Home</a>
    </li>
    <li>
      <a mat-button routerLink="/courses" routerLinkActive="active-link">Courses</a>
    </li>
    <li>
      <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
    </li>
    <li>
      <app-login-button></app-login-button>
    </li>
    <li>
      <app-logout-button></app-logout-button>
    </li>
    <li>
      <a mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </li>
  </ul>
</mat-toolbar>
